# dependencies
node_modules/

# env files
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore large ML data
agrosense-ml/data_distribution_for_SVM/
agrosense-ml/generated_for_paper/
agrosense-ml/leaf_grouping/
agrosense-ml/logs/
agrosense-ml/models/
agrosense-ml/*.zip
agrosense-ml/*.h5
